@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tag {
    @apply px-4 text-sm py-2 border rounded-full cursor-pointer transition transform duration-100 ease-out hover:shadow-lg active:scale-95 active:bg-gray-100
  }
}

body {
  font-family: Cabin, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1905px;
  margin: 0 auto;
}

.header-datepicker {
  top: 61px;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in;
}

.header-datepicker.active {
  top: 82px;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .poster {
    background-position: 25% 100% !important;
  }
}

@media (min-width: 320px) {
  .poster {
    background-position: 39% 100% !important;
  }
}

@media (max-width: 580px) {
  .rdrDefinedRangesWrapper {
    display: none;
  }
  .rdrDateRangePickerWrapper, .rdrDateRangeWrapper, .rdrMonthsVertical .rdrMonth {
    width: 100%;
  }
}